<ul>
	{%-for item in include.collection-%}
		<li>
			{%- if item.url -%}
				<a href="{{ item.url }}">{{ item.title }}</a>
			{%- else -%}
				{{ item.title }}
			{%- endif -%}
			{%-if item.entries-%}
				{%-include menu_item.html collection=item.entries-%}
			{%-endif-%}
			{%-if item.post_list-%}
				{%
					include post_list.html
						category=item.post_list.category
						limit=item.post_list.limit
						show_more=item.post_list.show_more
						show_more_text=item.post_list.show_more_text
						show_more_url=item.post_list.show_more_url
			 -%}
			{%-endif-%}
			{%-if item.page_list-%}
				{%
					include page_list.html
						category=item.page_list.category
						limit=item.page_list.limit
						show_more=item.page_list.show_more
						show_more_text=item.page_list.show_more_text
						show_more_url=item.page_list.show_more_url
			 -%}
			{%-endif-%}
		</li>
	{%-endfor-%}
</ul>