{%-if include.category-%}
	{%-assign pages = site.categories[include.category] | sort: "order"-%}  
{%-else-%}
	{%-assign pages = site.pages | sort: "order"-%}
{%-endif-%}

{%-if include.limit and pages.size > include.limit-%}
	{%-assign limit_exceeded = true-%}
{%-else-%}
	{%-assign limit_exceeded = false-%}
{%-endif-%}

<!--
{{ include.category }}
total: {{ site.pages.size }}
found: {{ pages.size }}
-->


{%-if pages.size > 0-%}
	<ul>
		{%-if include.order == "asc"-%}
			{%-for page in pages limit: include.limit-%}
					<li>
						<a href="{{ page.url | relative_url }}">{{ page.title }}</a>
					</li>
			{%-endfor-%}
		{%-else-%}
			{%- for page in pages limit: include.limit reversed -%}
					<li>
						<a href="{{ page.url | relative_url }}">{{ page.title }}</a>
					</li>
			{%- endfor -%}
		{%-endif-%}
		{%-if include.show_more and limit_exceeded-%}
			<li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
		{%-endif-%}
	</ul>
{%-endif-%}