---
---
@media (prefers-color-scheme: light) {
	:root {
		--color-primary: #222;
		--color-secondary: #424;
		--color-background: #fff;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: #222;
		--color-secondary: #424;
		--color-background: #fff;
	}
	a {color:red}
}

* {margin:0; padding:0}
body {
	background: var(--color-background);
	color: var(--color-primary);
	font-family: system-ui;
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	min-height: 100%;
	overflow-wrap: break-word;
}
.post-meta { text-align: right; }
h1, h2, h3, h4, h5, h6 { margin-top: 3rem; }
hr { margin: 2rem 0; }
p { margin: 1rem 0; }
li { margin: 0.4rem 0; }
*:target { background: var(--color-secondary); }
main {margin:2rem}
/* ------------------------- */
nav ul {
	list-style-type:none;
	height:1rem
}
nav li{
	float:left;
	width:4rem;
	position:relative
}
nav li a {
	display:block;
	width:5rem;
	line-height:2rem;
	text-align:center;
	color:var(--color-primary);
	text-decoration:none;
	background-color:transparent;
	border:0
}
nav li a:hover{ color:var(--color-secondary) }
nav li ul {
	display:none;/*hide the dropdown*/
	position:absolute;/*position it absolutely..*/
	left:0;
	top:1rem;
	height:1rem
}
nav li:hover ul { display:block }
nav li ul a { background-color:var(--color-secondary) }